body, html {
   border: 0;
   padding: 0;
   margin: 0;
   background-color: #222B26;
}

a {
    color: #000000;
    text-decoration: none;
}

#headerWrapper {
position:fixed;
width:100%;
top:0;
height: 40px;
}

#header {
    height: 40px;
    text-align: center;
    font-size: 45px;
    font-family: 'Yanone Kaffeesatz', serif;
    background-color: black;
}

#footer {
    height: 20px;
    background-image: none;
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: 0% 0%;
    position: fixed;
    bottom: 0pt;
    left: 0pt;
    background-color: black;
    width:100%
}

.footer_contents {

    height:20px;
    width: 1000px;
    margin:auto;

}

#content {
    margin-top: 50px;
    display:inline-block;
    padding-left: 400px;
    padding-right: 400px;
}

body {
    height: 100%;
    margin-bottom: 30px;
}

.image {
    height: 200px;
    width: 200px;
    border: 2px solid black;
    border-radius: 10%;
    overflow:visible;
}

.image:hover {
    border: 2px solid white;
    border-radius: 5%;
}